:root {
  --background-color: #264653;
  --full-dice-color: #2a9d8f;
  --button-background-color: #e76f51;
  --button-border-color: #f4a261;
  --button-shadow-color: #e9c46a;
}

body {
  background: var(--background-color);
}

h1 {
  color: var(--button-border-color);
  filter: drop-shadow(0.15rem 0.15rem 0.05rem black);
  border-bottom: 0.2rem solid var(--button-shadow-color);
}

.dice-container,
.full-dice,
.history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-dice {
  width: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1.2rem ridge var(--button-background-color);
  background: var(--full-dice-color);
}

.full-dice,
.dice-container {
  flex-direction: column;
}

.dice {
  font-size: 6rem;
  font-weight: bold;
  color: var(--button-background-color);
  filter: drop-shadow(0.2rem 0.2rem 0.05rem var(--button-shadow-color));
}

.history {
  height: 6rem;
  width: 100%;
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--background-color);
}

button {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  background: var(--button-background-color);
  border: 0.3rem solid var(--button-border-color);
  box-shadow: 0.25rem 0.25rem 0.1rem var(--button-shadow-color);
}

button:hover {
  background: var(--button-shadow-color);
  border: 0.3rem solid var(--button-border-color);
  box-shadow: 0.25rem 0.25rem 0.1rem var(--button-shadow-color);
}

button:active {
  filter: drop-shadow(0.05rem 0.05rem 0.1rem var(--button-shadow-color));
}
